/* stijlregels die enkel voor 404 van toepassing zijn */

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../errorimg/chernobyl_b.png");
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'PT Serif', serif;
}
.kleur {
    color: cornflowerblue;
}
.container{
    margin: 0 auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-shadow: 2px 2px black;

}
h1 {
    padding-top: 20px;
    font-weight: bolder;
}
h2{padding-top: 120px;
}
p {
    padding-top: 10px;
}

@media screen and (max-width: 700px) {
    body {
        background-image: url("../errorimg/dark.jpg");
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
    }

    .container {
        color: #fff;
        margin: 0 auto;
        text-align: center;
        justify-content: center;
       vertical-align: center;
        font-family: 'Noto Serif', serif;
    }

    h1 {
        padding-top: 20px;
        font-weight: bolder;
    }
    h2{padding-top: 120px;
    }
    p {
        padding-top: 10px;
    }

    img {
        display: none;
    }
}